.copy-button {
  appearance: none;
  border: none;
  background: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: grid;
  place-content: center;
  user-select: none;
  color: var(--text-subdued,#6a6a6a);
  fill: var(--text-subdued,#6a6a6a);
  transition: transform 0.187ms linear;
}

.copy-button:hover {
  fill: #fff;
  color: #fff;
}

.copy-button:active {
  transform: scale(0.9);
  fill: #1ed760;
}
